@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e2e2;
    font-size: .85em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#body_home {
    width:1200px;
    background-color:#fff;
    margin-top:-12px;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0px 0px 20px 5px #888888;
    background:url("../Images/swim_bg.png") no-repeat top left;
    background-size: 1200px;
}

#body {
    width:1200px;
    margin-top:-12px;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0px 0px 20px 5px #888888;
    background:url("../Images/swim_header.png") no-repeat top left;
    background-color:#F4F4F4;
    background-size: 1200px;
}

.pageHeader{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size:35pt;
    text-align:right;
    margin-right:30px;

}

.box {
    padding-left:50px;
    padding-top:10px;
    background-color:#fff;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    border-radius:10px 10px;
    box-shadow:5px 5px 10px #333;

}

.hidden {
    display:none;
}

.plan_content{
    width: 800px;
    min-height:400px;

}


.edit_box{
    width: 900px;
    min-height:150px;
    margin-top:60px;
}

.editBtn{
    width:100px;
}

header, footer {
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}

header {
    height:50px;
    margin-top:0;
    background-color: rgba(255,255,255, 0.5);
    color:#fff;
}

footer {
    padding-top:10px;
    background:#000;
    color:#808080;
    min-height:100px;
    text-align:center;
}

a.site_logo
{
    background: url(../Images/swim_workout_logo.png) no-repeat top left;
    background-size:auto 50px;
     display: block;
     height: 50px;
     text-indent: -9999px; /* hides the link text */
}

#home_content{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

#home_content h3{
    font-family: 'Montserrat', sans-serif;
    font-size:35pt;
    color: #fff;
    text-shadow:5px 5px 10px #333;
}

#home_content .add_WO_btn{
    background-color:orange;
    font-style:italic;
    font-size:11pt;
    color:#393939;
    text-decoration:none;    
    padding-left:30px;
    padding-right:5px;
    box-shadow:5px 5px 10px #333;
}

#home_content .add_WO_btn:hover{
    background-color: #ffffff;
    font-style:italic;
    font-size:11pt;
    color:orange;

}

#id_list{
    padding-left:50px;
    padding-top:10px;
    background-color:#fff;
    width: 380px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px 10px;
    min-height:400px;
    box-shadow:5px 5px 10px #333;
}



/*TAB STYLES*/

.tab-container{
    margin-top:-43px;
    font-size:small;
}

.tab
{
    float: left;
    display: block;
    background-color:orange;
    padding: 4px 18px 4px 18px;
    color: Black;
    font-weight: bold;
    color: White;
    width:120px;
    height:30px;
    border-style:none;
    text-align:left;
    margin-left:5px;
}
.tab:hover
{
    float: left;
    display: block;
    background-color:#fff;
    padding: 4px 18px 4px 18px;
    color: Black;
    font-weight: bold;
    width:120px;
    height:30px;
    border-top:1px solid #ECECEC;
    border-left:1px solid #ECECEC;
    border-right:1px solid #ECECEC;
    border-bottom:none;
    cursor:pointer;
    text-align:left;
}
.tab-selected
{
    float: left;
    display: block;
    background-color:#fff;
    padding: 4px 18px 4px 18px;
    color: Black;
    font-weight: bold;
    width:120px;
    height:30px;
    border-top:1px solid #ECECEC;
    border-left:1px solid #ECECEC;
    border-right:1px solid #ECECEC;
    border-bottom:none;
    margin-left:5px;
    text-align:left;

}


.group{
    width:100%;
    text-align:right;
}


//PLAN VIEW STYLE

table.plan_table{
     background-color:orange;
}
table.plan_table td:first-child{
    width:50px;
}
table.plan_table td:last-child{
    width:100px;
}
table.plan_table td{
}

table.section{
    width:100%;
    margin:0;
    padding:0;
}
table.section td{
    width:80%;
}

table.section td:first-of-type{
    width:50px;
}
table.section td:last-of-type{
    width:100px;
    margin:0;
    padding:0;
    text-align:right;
}
td.full_cell{
    width:100%;
}

tr.highlightRow{
    background-color:orange;
    color:#333;
}