@{
    ViewBag.Title = "AddNewWorkoutPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@model IEnumerable<WorkoutPlanObjects.WorkoutSetObject>

<h1 class="pageHeader">Create New Workout Plan</h1>

<div id="plan_conents" class="plan_content box">

    <input type="button" class="editBtn" value="Edit Plan" data-div="plan_div" />
    <center>
        <h2 id="planDateTag"></h2>
        <h4>@DateTime.Today.ToString("yyyy-MM-dd") </h4>                    
    </center>
 
    <h4 id="planDateTag"></h4>
    <div id="setsDiv">
        @Html.Partial("WorkoutSetList", Session["WorkoutSetList"])
    </div>

</div>

<div id="plan_div" class="activeDiv edit_box box">
    <table width="100%" align="center" class="tab-container">
        <tr>
            <td>
                <input type="button" class="tab" value="Edit Plan" data-tab="editPlan" />
                <input type="button" class="tab" value="New Section" data-tab="addSection" />
                <input type="button" class="tab" value="Delete Plan" data-tab="deletePlan" />
            </td>
        </tr>
    </table>

    <div id="editPlan" class="hidden">
        <h2>Edit Plan</h2>
        <form>
            <h4>Date: <input type="date" id="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" onchange="setPlanDate();" /></h4>
            <input type="submit" value="Save" />
        </form>
    </div>
    <div id="addSection" class="hidden">
        <h2>Add Section</h2>
        
        @using (Html.BeginForm("addSection", "Workout",FormMethod.Post))
        { 
            <table>
                <tr>
                    <td>
                       Section Name: <input type="text" id="sectionName" name="sectionName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Insert Position: <select id="sectionPosition" name="selectPosition">
                                    <option value="0">0</option>    
                                    <option value="1">1</option>                    
                                    <option value="2">2</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Add Section" />
        }
    </div>
    <div id="deletePlan" class="hidden">
        <h2>Delete Plan</h2>
        <form>
            <input type="submit" value="Delete" />
        </form>
    </div>

</div>

<script type="text/javascript">

    // Function will run on page load
    function onPageLoad() {

        setPlanDate();      //set initial plan date with current date
    }

    // Function will dynamically update planDateTag header tags with week and day number
    function setPlanDate() {
        /*
        * ASSUMPTIONS:
        *
        *   1. Week begins on the Monday and ends Sunday. Ie Mon = Day1, Sun = Day7
        *   2. Season begins 1st Monday of September
        *
        */

        var tempDate = new Date(document.getElementById("date").value);
        tempDate.setDate(tempDate.getDate() + 1);

        var workoutDate = new Date(tempDate.getFullYear(), tempDate.getMonth(), tempDate.getDate());
        var seasonStartDate = getSeasonStartDate(workoutDate);

        if (workoutDate < seasonStartDate) {
            seasonStartDate = getSeasonStartDate(new Date(workoutDate.getFullYear() - 1, workoutDate.getMonth(), workoutDate.getDate()));
        }

        var totalDays = Math.round(((((workoutDate - seasonStartDate.getTime()) / 1000) / 60) / 60) / 24); //Rounds up after dividing to get number of days from milliseconds
        var totalWeeks = (totalDays - (totalDays % 7)) / 7;

        var weekNumber = totalWeeks + 1;
        var dayNumber = (totalDays % 7) + 1;

        document.getElementById("planDateTag").innerHTML = "Week " + weekNumber + ",  Day " + dayNumber;

        document.getElementsByName("WorkoutPlanDate")[0].value = tempDate.getMonth() + 1 + "/" + tempDate.getDate() + "/" + tempDate.getFullYear();// +" tempDate.toString();//.toDateString();

        console.log(document.getElementsByName("WorkoutPlanDate")[0].value);
    }

    //Helper function, gets the date of the first Monday of September
    function getSeasonStartDate(workoutDate) {

        // Getting any date in the first week of september with a Monday
        var septDay = new Date(workoutDate.getFullYear(), 08, 01);

        if (septDay.getDay() > 1) {
            septDay.setDate(septDay.getDate() + 7);
        }

        return new Date(septDay.getFullYear(), septDay.getMonth(), septDay.getDate() - septDay.getDay() + 1);

    }

    // set planDateTag onLoad
    window.onload = onPageLoad();

</script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>

    $(".editBtn").click(function () {

        var div = $(this).data("div");

        $(".activeDiv").removeClass("activeDiv").addClass("hidden");
        $("#" + div).removeClass("hidden").addClass("activeDiv");

    });

    $(".tab").click(function () {

        $(".tab-selected").addClass("tab").removeClass("tab-selected");
        $(this).addClass("tab-selected").removeClass("tab");

        var tab = $(this).data("tab");

        $(".activeTab").removeClass("activeTab").addClass("hidden");
        $("#" + tab).removeClass("hidden").addClass("activeTab");

    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
