@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add New WorkoutPlan";
}

<h1>Workout Plan</h1>
<h4>Date: <input type="date" id="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" /></h4>

<!-- TODO: insert workout sets.
    
-->