@{
    ViewBag.Title = "ViewWorkoutPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WorkoutPlanObjects.WorkoutPlan

<h2>@Html.Raw(Model.Date)</h2>
@Html.Partial("ViewWorkOutSet", Model.WorkoutSet)
